language = "java"
run = "javac -cp .:./jars/junit-4.12.jar:./jars/hamcrest-core-1.3.jar TriangleChecker.java TriangleCheckerTest.java && java -cp .:./jars/junit-4.12.jar:./jars/hamcrest-core-1.3.jar org.junit.runner.JUnitCore TriangleCheckerTest"
